.car-form {
    display: block;
    margin: 0 auto;
    width: 600px;
}

.car-form h1 {
    font-size: 14px;
}

.car-form .wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-form input[type="submit"] {
    display: block;
    width: 200px;
    margin: 10px auto;
}